<form #productForm="ngForm" (submit)="submitTheForm()">
    <label for="productName">Name</label>
    <input autocomplete="off" #productName="ngModel" type="text" name="productName" id="productName" required
        minlength="3" maxlength="10" [(ngModel)]="product.name">
    <span style="color:red;" [hidden]="productName.pristine || productName.valid">product name is invalid</span>
    <br>

    <label for="productBrand">Brand</label>
    <input autocomplete="off" type="text" name="productBrand" id="productBrand" minlength="3" maxlength="10"
        [(ngModel)]="product.brand" #productBrand="ngModel">
    <span style="color:red;" [hidden]="productBrand.pristine || productBrand.valid">product name is invalid</span>
    <br>
    <br>
    <input type="submit" [disabled]="productForm.invalid" value="Submit" />
</form>

{{message}}