<form #productForm="ngForm" (ngSubmit)="submitTheForm()">
    <label for="productName">Name</label>
    <input autocomplete="off" #productName="ngModel" type="text" name="productName" id="productName" required
        minlength="3" maxlength="10" [(ngModel)]="product.name" appNoSpace="3">
    <div style="color:red;" [hidden]="!productName.errors?.required">product name is required</div>
    <div style="color:red;" [hidden]="!productName.errors?.minlength">product name is less than 3 characters long</div>
    <div style="color:red;" [hidden]="!productName.errors?.somekey">product name cannot be just spaces</div>
    <br>
    <label for="brandDD">Brand</label>
    <select name="productBrandDD" id="productBrandDD" [(ngModel)]="product.brand" #productBrand="ngModel" required>
        <option *ngFor="let brand of brands$ | async">{{brand.name}}</option>
    </select>
    <div style="color:red;" [hidden]="productBrand.pristine || productBrand.valid">product brand is invalid</div>
    <br>
    <label for="productFragile">Fragile</label>
    <input type="checkbox" name="productFragile" id="productFragile" [(ngModel)]="product.fragile" #productFragile="ngModel" />
    <br>
    <div>
        <h3>Product Tags</h3>
        <button type="button" (click)="addTagTD()">Add Tag</button> <br/>
        <div *ngFor="let tag of tagArray; let i=index; let odd=odd; let evenIndex=even;">
            <input #forTag type="text" [value]="tag" required minlength="3" maxlength="10" >
        </div>
    </div>
    <input type="submit" [disabled]="productForm.invalid" value="Submit" />
</form>

{{message}}
<br>
<br>
<br>

<form [formGroup]="addProductForm" (ngSubmit)="submitTheFormRF()">
    <label for="productName">Name</label>
    <input autocomplete="off" type="text" name="productName" id="productName" formControlName="name">
    <div style="color:red;" [hidden]="!name.errors?.required">product name is required</div>
    <div style="color:red;" [hidden]="!name.errors?.minlength">product name is less than 3 characters long</div>
    <div style="color:red;" [hidden]="!name.errors?.somekey">product name cannot be just spaces</div>
    <br>
    <label for="brandDD">Brand</label>
    <select name="productBrandDD" id="productBrandDD" formControlName="brand">
        <option *ngFor="let brand of brands$ | async">{{brand.name}}</option>
    </select>
    <div style="color:red;" [hidden]="productBrand.pristine || productBrand.valid">product brand is invalid</div>
    <br>
    <label for="productFragile">Fragile</label>
    <input type="checkbox" name="productFragile" id="productFragile" formControlName="fragile" />
    <br>
    <div formArrayName="tags">
        <h3>Product Tags</h3>
        <button type="button" (click)="addTag()">Add Tag</button> <br/>
        <div *ngFor="let tag of tags.controls; let i=index; let odd=odd; let evenIndex=even;">
            <input type="text" [formControlName]="i">
        </div>
    </div>
    <input type="submit" [disabled]="addProductForm.invalid" value="Submit" />
    
</form>
