<app-nav-bar></app-nav-bar>
<!-- <h2 *ngIf="showTitle">{{ title }}</h2>
<hr />

<input type="text" (change)="updateTitle($event.target.value)" [value]="title" />
<hr/>
<input type="text" [(ngModel)]="title" />
<hr/>
<input #inpTitle type="text" [value]="title" />
<input type="button" value="update title" (click)="updateTitleViaAButton(inpTitle.value)"/>
<hr/>
<form (submit)="updateTitleViaFormSubmit(inpTitleForm.value)">
    <input #inpTitleForm type="text" [value]="title" />
    <input type="submit" value="update title via form" />
</form>
<hr/> -->
<router-outlet></router-outlet>