<app-nav-bar></app-nav-bar>
<div *ngIf="showTitle">{{ title }}</div>
<hr />

<!-- <input type="text" (onchange)="updateTitle($event)" /> -->
<input type="text" [(ngModel)]="title" />

<hr />
<table border="1">
    <tr>
        <!-- <th>Id</th> -->
        <th>Name</th>
        <th>Brand</th>
    </tr>
    <tr [id]="prod.id" (click)="handleClick($event, prod)" *ngFor="let prod of products">
        <!-- <td>{{prod.id}}</td> -->
        <td (mouseOver)="handleMouseOver(prod.productName)">{{prod.productName}}</td>
        <td>{{prod.brand}}</td>
    </tr>
</table>